/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.bannerEdit {
	width: 100%;
	height: 4rem;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 150px;
	height: 42px;
}

main {
	max-width: 950px;
	margin: auto;
}

section {
	margin: 50px 0;
}

h1 a {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap: 7px;
	text-decoration: none;
}

h1 a span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 40px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: #000000;
}

nav li a:visited {
	color: #000000;
}

nav li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.25em;
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.26em;
	max-width: 404px;
}

#portfolio {
	margin-top: 100px;
	position: relative;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 40px;
}

#portfolio .edits {
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	top: 0;
	right: 260px;
	transform: translateY(50%);
}

#portfolio .edits a {
	cursor: pointer;
	font-family: 'Work Sans';
}

.filters {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: 45px;
}

.filters button {
	border: solid 1px #1D6154;
	background-color: transparent;
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	padding: 9px 22px;
	cursor: pointer;
}

.filters button.active {
	background-color: #1D6154;
	color: rgb(255,255,255);

}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	max-height: 404.8px;
}

#modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}

#modal .modal-window {
	background-color: #FFFFFF;
	width: 420px;
	max-width: calc(100vw - 50px);
	border-radius: 10px;
	padding: 60px 100px 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal .modal-gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#modal .close-cross-icon {
	position: absolute;
	right: 35px;
	top: 35px;
}

#modal h3 {
	font-size: 26px;
	font-weight: 400;
}

#modal .modal-gallery-photos {
	padding-top: 50px;
	padding-bottom: 65px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 40px;
}

#modal .modal-gallery-photos .photo-gallery {
	width: 100%;
	height: 101.41px;
}
 
#modal .photo-containeur {
	position: relative;
}

#modal .trash-icon {
	position: absolute;
	top: 4px;
	right: 4px;
 }

#modal .modal-gallery button {
	border: solid 1px #1D6154;
	background-color: #1D6154;
	border-radius: 60px;
	color: #FFFFFF;
	font-family: 'Syne';
	font-weight: 700;
	padding: 9px 40px;
	margin-bottom: 5px;
	cursor: pointer;
}

#modal .arrow-left {
	position: absolute;
	top: 25px;
	left: 30px;
}

#modal .modal-add-photo {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#modal form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#modal .add-photo-container .dropzone-empty {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	margin-top: 40px;
	margin-bottom: 10px;
	height: 169px;
	box-sizing: border-box;
}

#modal .add-photo-container .dropzone-full {
	justify-content: center;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 10px;
	height: 169px;
	box-sizing: border-box;
}

#modal .visually-hidden {
	height: 0px;
	width: 0px;
}

#modal .visually-hidden + label {
	background-color: #CBD6DC;
	border-radius: 50px;
	padding: 12px 30px;
	color: #306685;
	cursor: pointer;
}

#modal .add-photo-container p {
	color: #444444;
	font-size: 10px;
	margin-top: 4px;
}

#modal .photo-preview {
	width: 31%;
	height: 169px;
	object-fit: cover;
}

#modal .modal-add-photo .error-message {
	color: red;
}

#modal .inputs-title-and-category {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	border-bottom: 1px solid #B3B3B3;
	margin-bottom: 30px;
}

#modal .title-label, .category-label {
	font-family: "Work Sans";
	margin-top: 20px;
	margin-bottom: 10px;
}

#modal #title, #category {
	height: 50px;
	font-size: 1.2em;
	border: none;
	outline: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: "Work Sans";
	font-weight: 400;
	font-size: 14px;
}

#modal .message-input-title {
	color: red;
	font-size: 12px;
	margin-top: 4px;
}

#modal .validate-btn {
	border: solid 1px #A7A7A7;
	background-color: #A7A7A7;
	border-radius: 60px;
	color: #FFFFFF;
	font-family: 'Syne';
	font-weight: 700;
	padding: 9px 40px;
	width: 50%;
	margin: 0 auto;
	cursor: not-allowed;
}

#modal .validate-btn.active {
	border: solid 1px #1D6154;
	background-color: #1D6154;
	cursor: pointer;
}

#modal .success-message {
	color:#0ab133;
	margin: 10px auto 0;
}

#modal .unsuccess-message {
	color: red;
	margin: 10px auto 0;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer {
	background: #FFFFFF;
	height: 4rem;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	width: 100%;
}

footer nav ul {
	width: 1440px;
	display: flex;
	justify-content: flex-end;
}

footer nav ul li {
    font-size: 0.875em;
}

